**/CMakeCache.txt
**/CMakeFiles
**/cmake_install.cmake
**/.project
**/.cproject
**/Makefile
**/bin
**/lib
**/*~
/.idea
/.idea/**
**/cache
**/.cache
**/cache/**
**/.cache/**
/install
/CPackConfig.cmake
/CPackSourceConfig.cmake
/decision_making.version
/install_manifest.txt
**/__pycache__
*.log

